#navbar{
    position: static;
    top: 0px;
    left: 0px;
    z-index: 100px;
    padding: .5rem 5rem;
    box-shadow: 5px 5px 20px rgb(0, 0, 5);
    background: black;
}
.navbar .navbar-brand{
    font-size: 25px;
    font-weight: 800px;

}
#navbarSupportedContent{
    color: #fff;
    border-bottom: 2px solid transparent;
}
#navbarSupportedContent a:hover{
    border-bottom: 2px solid blue;
}
#navbarSupportedContent button{
    background-color: rgb(243, 249, 243);
    width: 10rem;
    border-radius: 15px;
}
section{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home{
    background:url(../images/backgroup.webp);
    background-size: cover;
    background-position: center;
    flex-direction: column;
}
#home #he{
    height: 100%;
    width: 100%;
}
#home h1{
    font-size: 100px;
    color: rgb(8, 12, 244);
    letter-spacing: 3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 0px 1px 0px #CCC,
                 0px 2px 0px #CCC,
                 0px 3px 0px #CCC,
                 0px 4px 0px #CCC,
                 0px 5px 0px #CCC,
                 0px 6px 0px #CCC,
                 0px 7px 0px #CCC;
}
#home p{
    font-size: 18px;
    color: #FFF;
}
#home .input-group{
    width: 40%;
    height: 45px;

}
.sg{
    background: rgb(4, 105, 36)  !important;
    color: white !important;
    box-shadow: 2px 4px 5px rgb(0, 0, 0,.3);

}

#about{
    background: linear-gradient(to right, red, pink 100% );
}
#about h1{
    font-weight: 800;
    font-size: 50px;
    color: #fff;
}
#about p{
    color: #fff;
}

#product{
    height: auto;
    background: #e5e5e5;
}
#product h1{
    font-size: 50px;
    letter-spacing: 2px;
    font-weight: 700;
}
#product img{
    width: 200px;
    height: 200px;
}
.card{
    width: 250px;
    height: 300px;
    background: #e5e5e5 !important;
    border: none !important;
    box-shadow: 15px 20px 20px rgba(0, 0, 0, 3),
                inset 4px 4px 10px white;
    border-radius: 20px !important;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    margin: 20px 60px;
    transform: .2s;
}
.card:hover{
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 3),
                inset -4px -4px 10px white;
    transform: .2s;
}

#contact img{
    height: 100%;
}
.box{
    width: 80%;
    margin-top: 10px;
}
form{
    display: flex;
    flex-direction: column;
}
#contact input{
    margin: 10px 0px;
}
#contact textarea{
    margin: 10px 0px;
}

footer{
    width: 100%;
    height: 30px;
    background: rgb(66, 66, 60);
    margin-top: -30px;
    text-align: center;
    color: white;
    padding: 3px;
}

.slide ul li{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid red;
    text-align: center;
    float: left;

}
.item li{
    list-style: none;
}
.slide ul{
    display: flex;
    display: inline;
    position: relative;
    bottom: 50px;
    left: 680px;
    padding: 2%;
}
#product{
    display: flex;
    display: inline;
    text-decoration: none;
}